* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100,100,100);


}

body {
    background-color: red;
}

button {
    width: 35px;
    font-weight: bold;
}

canvas {
    margin-top: -5vh;
}

#crop-end {
    display: inline;
    float: right;
    margin-right: 2vw;
    color: rgb(177,177,177);
}


#crop-start {
    display: inline;
    margin-left: 6vw;
    color: rgb(177,177,177);
}

.dropdown {
    margin-top: 1vh; /* don't make this value larger */
    margin-left: 2vw;
    position: relative;
    font-weight: bold;
    margin-bottom: 5px;
}

.error{
    color: black;
    font-size: x-large;
    font-weight: bold;
    margin-left: 50px;
    top: 25px;
    position: absolute;
}

#file{
    display: block;
    margin-top: 5px;    
    margin-bottom: 5px;
}

#file-select-container{
    background: lightgrey;
    padding: 15px;
    border-radius: 15px;
    width: fit-content;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    height: 95px;
    width: 350px;
}

h1 {    
    margin-top: 50px;
    margin-left: 50px;
    color: white;
    clear: both;
}

input[type=checkbox]{
    margin-right: 5px;
    margin-left: 25px;
}

input[type=color]{
    margin-right: 5px;
    margin-left: 25px;
}

input[type=number]{
    width: 15px;
}

input[type=color]{
    width: 15px;
    height: 19px;
    border: none;
    background: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#logo {    
    width: 20vw;
    display: block;
    float: right;
    margin-right: 15px;
    margin-top: 25px;
    margin-bottom: 5px;
}

#myChart {
    margin: 0;
    padding: 0;
    margin-top: -5vh;
}

.options {
    display: none;
    font-size: x-small;    
}

.options div {
    display: inline;
}

.options input {
    vertical-align: sub;
}

.options:hover{
    cursor: default;
}

select {
    font-weight: bold;
}

#showOptions {
    width: max-content;
    margin-top: 1vh;
}

#showOptions:hover{
    cursor: pointer;
}

.status{
    font-style: italic;
}
#toggleOptions{
    /* width: max-content; */
    display: inline;

}
